@page
@model MarketData.Pages.IexQuoteModel
@{
    ViewData["Title"] = "IexStockQuote";
}

<h1>IexStockQuote</h1>
<p style="color:red">Note: The data is only available during market trading hours</p>

<br /><br />
<form method="post">
    <div class="form-group">
        <div class="row form-group form-inline">
            <label class="col-2 control-label">Ticker:</label>
            <div class="col-4">
                <input asp-for="QuoteModel.Ticker" type="text" class="form-control" />
            </div>
        </div>
        <div class="row form-group form-inline">
            <div class="col-2"></div>
            <div class="col-6">
                <button type="submit" class="btn btn-primary" name="submit">Submit</button>
            </div>
        </div>
    </div>

    <br /><br />
    @if (Model != null)
    {
        @if (Model.QuoteModel != null)
        {
            @if (Model.QuoteModel.StockQuote != null)
            {
                <h3>Stock Quote Data</h3>
                <table class="table table-striped">
                    <tr><th>Parameter</th><th>Value</th></tr>
                    <tr><td>Open</td><td> @Model.QuoteModel.StockQuote.Open</td></tr>
                    <tr><td>OpenTime</td><td> @Model.QuoteModel.StockQuote.OpenTime</td></tr>
                    <tr><td>LatestPrice</td><td> @Model.QuoteModel.StockQuote.LatestPrice</td></tr>
                    <tr><td>LatestUpdateTime</td><td> @Model.QuoteModel.StockQuote.LatestUpdateTime</td></tr>
                    <tr><td>LatestVolume</td><td>@Model.QuoteModel.StockQuote.LatestVolume</td></tr>
                    <tr><td>DelayedPrice</td><td>@Model.QuoteModel.StockQuote.DelayedPrice</td></tr>
                    <tr><td>DelayedPriceTime</td><td>@Model.QuoteModel.StockQuote.DelayedPriceTime</td></tr>
                    <tr><td>PreviousClose</td><td>@Model.QuoteModel.StockQuote.PreviousClose</td></tr>
                    <tr><td>IexRealTimePrice</td><td>@Model.QuoteModel.StockQuote.IexRealTimePrice</td></tr>
                    <tr><td>IexRealTimeSize</td><td>@Model.QuoteModel.StockQuote.IexRealTimeSize</td></tr>
                    <tr><td>IexLastUpdated</td><td>@Model.QuoteModel.StockQuote.IexLastUpdated</td></tr>
                    <tr><td>IexBidSize</td><td>@Model.QuoteModel.StockQuote.IexBidSize</td></tr>
                    <tr><td>IexAskPrice</td><td>@Model.QuoteModel.StockQuote.IexAskPrice</td></tr>
                    <tr><td>IexAskSize</td><td>@Model.QuoteModel.StockQuote.IexAskSize</td></tr>
                    <tr><td>Change</td><td>@Model.QuoteModel.StockQuote.Change</td></tr>
                    <tr><td>ChangePercent</td><td>@Model.QuoteModel.StockQuote.ChangePercent</td></tr>
                    <tr><td>MarketCap</td><td>@Model.QuoteModel.StockQuote.MarketCap</td></tr>
                    <tr><td>PeRatio</td><td>@Model.QuoteModel.StockQuote.PeRatio</td></tr>
                    <tr><td>Week52High</td><td>@Model.QuoteModel.StockQuote.Week52High</td></tr>
                    <tr><td>Week52Low</td><td>@Model.QuoteModel.StockQuote.Week52Low</td></tr>
                    <tr><td>YtdChange</td><td>@Model.QuoteModel.StockQuote.YtdChange</td></tr>
                </table>
            }
        }
    }
</form>